/*Colores del Botón One. Aceptar*/
.btn-One {
    color: #fff;
    background-color: #ba172d;
    border-color: #a31528;
    width: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    .btn-One:hover {
        color: #fff;
        background-color: #a31528;
        border-color: #ba172d;
    }

    .btn-One:focus, .btn-One.focus {
        box-shadow: 0 0 0 0.1rem rgba(186, 23, 45, 0.5);
    }

    .btn-One.disabled, .btn-One:disabled {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-One:not(:disabled):not(.disabled):active, .btn-One:not(:disabled):not(.disabled).active,
    .show > .btn-One.dropdown-toggle {
        color: #fff;
        background-color: #ba172d;
        border-color: #a31528;
    }

        .btn-One:not(:disabled):not(.disabled):active:focus, .btn-One:not(:disabled):not(.disabled).active:focus,
        .show > .btn-One.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.1rem rgba(186, 23, 45, 0.5);
        }
/********************************************************************************************/

/*Colores del Botón One. Aceptar*/
.btn-OneOk {
    color: #fff;
    background-color: green;
    border-color: green;
    width: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    .btn-OneOk:hover {
        color: #fff;
        background-color: darkgreen;
        border-color: darkgreen;
    }

    .btn-OneOk:focus, .btn-OneOk.focus {
        box-shadow: 0 0 0 0.1rem rgba(90, 98, 104, 0.5);
    }

    .btn-OneOk.disabled, .btn-OneOk:disabled {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-OneOk:not(:disabled):not(.disabled):active, .btn-OneOk:not(:disabled):not(.disabled).active,
    .show > .btn-OneOk.dropdown-toggle {
        color: #fff;
        background-color: green;
        border-color: green;
    }

        .btn-OneOk:not(:disabled):not(.disabled):active:focus, .btn-OneOk:not(:disabled):not(.disabled).active:focus,
        .show > .btn-OneOk.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.1rem rgba(90, 98, 104, 0.5);
        }
/********************************************************************************************/

/*Colores del Botón Two. Cancelar*/
.btn-Two {
    color: #fff;
    background-color: #6C757D;
    border-color: #7F8A93;
    width: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    .btn-Two:hover {
        color: #fff;
        background-color: #5A6268;
        border-color: #7F8A93;
    }

    .btn-Two:focus, .btn-Two.focus {
        box-shadow: 0 0 0 0.1rem rgba(90, 98, 104, 0.5);
    }

    .btn-Two.disabled, .btn-Two:disabled {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-Two:not(:disabled):not(.disabled):active, .btn-Two:not(:disabled):not(.disabled).active,
    .show > .btn-Two.dropdown-toggle {
        color: #fff;
        background-color: #6C757D;
        border-color: #7F8A93;
    }

        .btn-Two:not(:disabled):not(.disabled):active:focus, .btn-Two:not(:disabled):not(.disabled).active:focus,
        .show > .btn-Two.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.1rem rgba(90, 98, 104, 0.5);
        }
/********************************************************************************************/

/*Colores del Botón Two. Cancelar*/
.btn-Three {
    color: #fff;
    background-color: #C0C0C0;
    border-color: #7F8A93;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    .btn-Three:hover {
        color: #fff;
        background-color: #5A6268;
        border-color: #7F8A93;
    }

    .btn-Three:focus, .btn-Three.focus {
        box-shadow: 0 0 0 0.1rem rgba(90, 98, 104, 0.5);
    }

    .btn-Three.disabled, .btn-Three:disabled {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-Three:not(:disabled):not(.disabled):active, .btn-Three:not(:disabled):not(.disabled).active,
    .show > .btn-Three.dropdown-toggle {
        color: #fff;
        background-color: #C0C0C0;
        border-color: #7F8A93;
    }

        .btn-Three:not(:disabled):not(.disabled):active:focus, .btn-Three:not(:disabled):not(.disabled).active:focus,
        .show > .btn-Three.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.1rem rgba(90, 98, 104, 0.5);
        }
/********************************************************************************************/

/*Tabla de Bootstrap*/
.table-One {
width: 100%;
max-width: 100%;
margin-bottom: 1rem;
background-color: transparent
}

/*Borde superior de las filas*/
.table-One td, .table-One th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6
}

/*Borde inferior del encabezado*/
.table-One thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #fff;
    color: #fff
}

.table-One tbody + tbody {
    border-top: 2px solid #dee2e6
}

.table-One .table-One {
    background-color: #fff
}

.table-One-sm td, .table-One-sm th {
    padding: .3rem
}

.table-One-bordered {
    border: 1px solid #dee2e6
}

.table-One-bordered td, .table-One-bordered th {
    border: 1px solid #dee2e6
}

.table-One-bordered thead td, .table-One-bordered thead th {
    border-bottom-width: 2px
}

/*Color de la fila par*/
.table-One-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05)
}

/*Color de la fila impar*/
.table-One-striped tbody tr:nth-of-type(even) {
    background-color: rgba(0,0,0,.0)
}

/*Color de la fila al pasar el ratón*/
.table-One-hover tbody tr:hover {
    background-color: rgba(0,0,0,.075)
}

.table-One-primary, .table-One-primary > td, .table-One-primary > th {
    background-color: #b8daff
}

.table-One-hover .table-One-primary:hover {
    background-color: #9fcdff
}

    .table-One-hover .table-One-primary:hover > td, .table-One-hover .table-One-primary:hover > th {
        background-color: #9fcdff
    }

.table-One-secondary, .table-One-secondary > td, .table-One-secondary > th {
    background-color: #d6d8db
}

.table-One-hover .table-One-secondary:hover {
    background-color: #c8cbcf
}

    .table-One-hover .table-One-secondary:hover > td, .table-One-hover .table-One-secondary:hover > th {
        background-color: #c8cbcf
    }

/*Color del fondo del encabezado*/
.table-One-success, .table-One-success > td, .table-One-success > th {
    background-color: #8f99a4
}

.table-One-hover .table-One-success:hover {
    background-color: #8f99a4
}

    .table-One-hover .table-One-success:hover > td, .table-One-hover .table-One-success:hover > th {
        background-color: #8f99a4
    }

.table-One-info, .table-One-info > td, .table-One-info > th {
    background-color: #bee5eb
}

.table-One-hover .table-One-info:hover {
    background-color: #abdde5
}

    .table-One-hover .table-One-info:hover > td, .table-One-hover .table-One-info:hover > th {
        background-color: #abdde5
    }

.table-One-warning, .table-One-warning > td, .table-One-warning > th {
    background-color: #ffeeba
}

.table-One-hover .table-One-warning:hover {
    background-color: #ffe8a1
}

    .table-One-hover .table-One-warning:hover > td, .table-One-hover .table-One-warning:hover > th {
        background-color: #ffe8a1
    }

.table-One-danger, .table-One-danger > td, .table-One-danger > th {
    background-color: #f5c6cb
}

.table-One-hover .table-One-danger:hover {
    background-color: #f1b0b7
}

    .table-One-hover .table-One-danger:hover > td, .table-One-hover .table-One-danger:hover > th {
        background-color: #f1b0b7
    }

.table-One-light, .table-One-light > td, .table-One-light > th {
    background-color: #fdfdfe
}

.table-One-hover .table-One-light:hover {
    background-color: #ececf6
}

    .table-One-hover .table-One-light:hover > td, .table-One-hover .table-One-light:hover > th {
        background-color: #ececf6
    }

.table-One-dark, .table-One-dark > td, .table-One-dark > th {
    background-color: #c6c8ca
}

.table-One-hover .table-One-dark:hover {
    background-color: #b9bbbe
}

    .table-One-hover .table-One-dark:hover > td, .table-One-hover .table-One-dark:hover > th {
        background-color: #b9bbbe
    }

.table-One-active, .table-One-active > td, .table-One-active > th {
    background-color: rgba(0,0,0,.075)
}

.table-One-hover .table-One-active:hover {
    background-color: rgba(0,0,0,.075)
}

    .table-One-hover .table-One-active:hover > td, .table-One-hover .table-One-active:hover > th {
        background-color: rgba(0,0,0,.075)
    }

.table-One .thead-dark th {
    color: #fff;
    background-color: #212529;
    border-color: #32383e
}

.table-One .thead-light th {
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6
}

.table-One-dark {
    color: #fff;
    background-color: #212529
}

    .table-One-dark td, .table-One-dark th, .table-One-dark thead th {
        border-color: #32383e
    }

    .table-One-dark.table-One-bordered {
        border: 0
    }

    .table-One-dark.table-One-striped tbody tr:nth-of-type(odd) {
        background-color: rgba(255,255,255,.05)
    }

    .table-One-dark.table-One-hover tbody tr:hover {
        background-color: rgba(255,255,255,.075)
    }

@media (max-width:575.98px) {
    .table-One-responsive-sm {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar
    }

        .table-One-responsive-sm > .table-One-bordered {
            border: 0
        }
}

@media (max-width:767.98px) {
    .table-One-responsive-md {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar
    }

        .table-One-responsive-md > .table-One-bordered {
            border: 0
        }
}

@media (max-width:991.98px) {
    .table-One-responsive-lg {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar
    }

        .table-One-responsive-lg > .table-One-bordered {
            border: 0
        }
}

@media (max-width:1199.98px) {
    .table-One-responsive-xl {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar
    }

        .table-One-responsive-xl > .table-One-bordered {
            border: 0
        }
}

.table-One-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar
}

    .table-One-responsive > .table-One-bordered {
        border: 0
    }

/* Alineaciones */
.JustificaTextoDerecha {
    text-align:right;
}

.JustificaTextoCentro {
    text-align: center;
}
/******************************************************************/

/*Centra el objeto en vertical y horizontal*/
.alingXcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Centra el objeto en vertical*/
.alingVcenter {
    display: flex;
    align-items: center;
}

/*Centra el objeto en vertical y a la derecha*/
.alingVRcenter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/*Centra el objeto en horizontal*/
.alingHcenter {
    display: flex;
    justify-content: center;
}
/********************************************************************************************/

/* TableGrid - Configura los colores de una tabla de filas columnas */
.TableGrid {
    display: grid;
}

    .TableGrid [name="header"] {
        background-color: #8F99A4;
        height: 30px;
        color: #fff;
    }

    .TableGrid [name="row"]:nth-child(odd) {
        background-color: #DFDFDF;
        height: 30px;
    }

    .TableGrid [name="row"]:nth-child(even) {
        background-color: #EBEBEB;
        height: 30px;
    }

    .TableGrid [name="row"]:hover {
        background-color: #bdbdbd;
    }
/*******************************************************************************/

/* tg-grid - Configura el formato de un listado */
.tg-grid [label-grid="header"] {
    background-color:#8F99A4;
    height:30px;
    color:#fff;
}

.tg-grid [label-grid="row"]:nth-child(odd) {
   background-color:#DFDFDF;
   height:60px;
}

.tg-grid [label-grid="row"]:nth-child(even) {
   background-color:#EBEBEB;
   height:60px;
}

.tg-grid [label-grid="row"]:hover {
   background-color:#bdbdbd;
}
/*******************************************************************************/

.marco {
    border-style: solid;
    border-color: red;
}

.cursor-hand {
    cursor: pointer
}

.mb-overflow {
    overflow: auto;
}

/* Muestra u oculta objetos de la vista */
.object-hidden {
    display: none;
}

.object-display {
    display: block;
}
/*********************************************************************************************/

/* Tamaños en altura */
.mb-h-100 {
    height: 100px;
}

.mb-h-150 {
    height: 150px;
}

.mb-h-200 {
    height: 200px;
}

.mb-h-250 {
    height: 250px;
}

.mb-h-300 {
    height: 300px;
}

.mb-h-350 {
    height: 350px;
}

.mb-h-400 {
    height: 400px;
}

.mb-h-450 {
    height: 450px;
}

.mb-h-500 {
    height: 500px;
}

.mb-h-550 {
    height: 550px;
}

.mb-h-600 {
    height: 600px;
}

.mb-h-650 {
    height: 650px;
}

.mb-h-700 {
    height: 700px;
}
/*********************************************************************************************/

/* Tamaños en anchura */
.mb-w-100 {
    width: 100px;
}

.mb-w-150 {
    width: 150px;
}

.mb-w-200 {
    width: 200px;
}

.mb-w-250 {
    width: 250px;
}

.mb-w-300 {
    width: 300px;
}

.mb-w-350 {
    width: 350px;
}

.mb-w-400 {
    width: 400px;
}

.mb-w-450 {
    width: 450px;
}

.mb-w-500 {
    width: 500px;
}

.mb-w-550 {
    width: 550px;
}

.mb-w-600 {
    width: 600px;
}

.mb-w-650 {
    width: 650px;
}

.mb-w-700 {
    width: 700px;
}
/*********************************************************************************************/